<template>
  <q-breadcrumbs>
    <q-breadcrumbs-el label="Shipments" to="/" />
  </q-breadcrumbs>

  <div class="q-pa-md">
    <q-table
      title="Shipments"
      :rows="rows"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :filter="filter"
      @request="onRequest"
      @row-click="shipmentDetails"
      binary-state-sort
    >
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
    <div class="row">
      <q-btn label="New Shipment" color="primary" @click="shipmentCreate" />
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { restUrlPrefix } from "@/main";

const columns = [
  {
    name: "order_placed",
    label: "Order Placed",
    field: "order_placed",
    align: "left",
    required: true,
    sortable: true,
  },
  {
    name: "order_shipped",
    label: "Order Shipped",
    field: "order_shipped",
    align: "left",
    sortable: true,
  },
  {
    name: "order_delivered",
    label: "Order Delivered",
    field: "order_delivered",
    align: "left",
    sortable: true,
  },
  {
    name: "description",
    label: "Description",
    field: "description",
    align: "left",
    sortable: true,
    headerStyle: "width: 500px",
  },
  {
    name: "quantity",
    label: "Quantity",
    field: "quantity",
    align: "right",
    sortable: true,
  },
];

export default {
  setup() {
    const router = useRouter();

    const rows = ref([]);
    const filter = ref("");
    const loading = ref(false);
    const pagination = ref({
      sortBy: "order_placed",
      descending: false,
      page: 1,
      rowsPerPage: 5,
      rowsNumber: 10,
    });

    function shipmentDetails(evt, row) {
      router.push(`/${row.id}`);
    }

    function shipmentCreate() {
      router.push(`/new`);
    }

    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      const filter = props.filter ?? "";

      console.log(page, rowsPerPage, sortBy, descending, filter);

      loading.value = true;

      fetch(
        `${restUrlPrefix}/rest/shipments/?sortBy=${sortBy}&descending=${descending}&filter=${filter}` +
          `&limit=${rowsPerPage}&offset=${(page - 1) * rowsPerPage}`
      )
        .then((response) => response.json())
        .then((data) => {
          // update rowsCount with appropriate value
          // pagination.value.rowsNumber = data.count
          pagination.value.rowsNumber = data.count;

          // clear out existing data and add new
          rows.value = data.results;

          // don't forget to update local pagination object
          pagination.value.page = page;
          pagination.value.rowsPerPage = rowsPerPage;
          pagination.value.sortBy = sortBy;
          pagination.value.descending = descending;

          // ...and turn of loading indicator
          loading.value = false;
        });
    }

    onMounted(() => {
      // get initial data from server (1st page)
      onRequest({
        pagination: pagination.value,
        filter: undefined,
      });
    });

    return {
      filter: filter,
      loading: loading,
      pagination: pagination,
      columns,
      rows,

      onRequest,
      shipmentDetails,
      shipmentCreate,
    };
  },
};
</script>
