<template>
  <q-breadcrumbs>
    <q-breadcrumbs-el label="Shipments" to="/" />
    <q-breadcrumbs-el :label="data.id" />
  </q-breadcrumbs>

  <div class="q-pa-md">
    <q-form
      id="details"
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <div class="row">
        <q-input class="col" v-model="data.order_placed" hint="Order Placed">
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="data.order_placed" mask="YYYY-MM-DD HH:mm">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time
                  v-model="data.order_placed"
                  mask="YYYY-MM-DD HH:mm"
                  format24h
                >
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>

        <q-input class="col" v-model="data.order_shipped" hint="Order Shipped">
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="data.order_shipped" mask="YYYY-MM-DD HH:mm">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time
                  v-model="data.order_shipped"
                  mask="YYYY-MM-DD HH:mm"
                  format24h
                >
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>

        <q-input
          class="col"
          v-model="data.order_delivered"
          hint="Order Delivered"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="data.order_delivered" mask="YYYY-MM-DD HH:mm">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time
                  v-model="data.order_delivered"
                  mask="YYYY-MM-DD HH:mm"
                  format24h
                >
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>

        <q-input class="col" v-model="data.quantity" hint="quantity" />
      </div>

      <q-input
        outlined
        name="description"
        v-model="data.description"
        label="Full name"
        hint="Description"
      />

      <div class="row">
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" flat v-if="data.id" />
        <div class="q-space"></div>
        <q-btn
          label="Delete"
          @click="shipmentDelete"
          color="red"
          v-if="data.id"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import { restUrlPrefix } from "@/main";
import { useQuasar } from "quasar";

export default {
  setup() {
    const $q = useQuasar();

    const router = useRouter();
    const route = useRoute();

    const data = ref({});
    const initial_data = ref({
      order_placed: null,
      order_shipped: null,
      order_delivered: null,
      quantity: null,
      description: null,
    });

    function onReset() {
      console.log("onReset", data.value, initial_data.value);

      data.value = { ...initial_data.value };
    }

    function shipmentDelete() {
      console.log("shipmentDelete");

      fetch(`${restUrlPrefix}/rest/shipments/${route.params.id}/`, {
        method: "DELETE", // *GET, POST, PUT, DELETE, etc.
      });
      router.push("/");
    }

    function onSubmit() {
      console.log("onSubmit");

      let url = `${restUrlPrefix}/rest/shipments/`;
      let method = "POST";

      if (route.path !== "/new") {
        url += `${route.params.id}/`;
        method = "PUT";
      }

      fetch(url, {
        method: method,
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data.value),
      }).then(function (response) {
        if (!response.ok) {
          response.json().then((responseJson) => {
            for (const key in responseJson) {
              $q.notify({
                message: `${key}: ${responseJson[key]}`,
                type: "negative",
              });
            }
          });
        } else {
          router.push("/");
        }
      });
    }

    onMounted(() => {
      if (route.path !== "/new") {
        fetch(`${restUrlPrefix}/rest/shipments/${route.params.id}`)
          .then((response) => response.json())
          .then((r) => {
            console.log(r);

            r.id = r.id.toString();

            initial_data.value = { ...r };

            data.value = r;
          });
      }
    });

    return {
      data,

      onReset,
      onSubmit,
      shipmentDelete,
    };
  },
};
</script>
